/* ========== Header ========== */

.header {
	width: 100%;
	z-index: 1000;
	background: #fff;
}

.header_container {
	display: flex;
	align-items: center;
	margin: 0 auto 0 auto;
	padding: 10px;
}

.header_container .logo {
	margin: 0 15px 0 0;
	width: 220px;
	transition: transform 0.3s, margin 0.3s;
	transform-origin: 0 50%;
}

.header_container:lang(ar) .logo {
	margin: 0 0 0 15px;
}

.header_container .menu {
	flex-grow: 1;
}

/*
.nav-stuck .header {
	box-shadow: 0 0 30px rgba(0,0,0,.05);
}
*/

@media screen and (max-width:992px) {
	.header_container {
		padding: 0 !important;
	}
	.header_container .logo {
		padding: 10px;
	}
}

.sticky-wrapper:not(.nav-stuck) {
	height: auto !important;
}


/* Side Buttons */

.header_container .buttons.suffix {
	display: flex;
	justify-content: flex-end;
}

.header_container .buttons>div {
	position: relative;
	margin: 0 0 0 5px;
}

.header_container:lang(ar) .buttons>div {
	margin: 0 5px 0 0;
}

.header_container .buttons>div>a {
	background: transparent;
	color: #163451;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.25s, color 0.25s;
	border: 1px solid #163451;
	border-radius: 50%;
	overflow: hidden;
}

.header_container .buttons>div>a.user {
	border: 0;
}

.header_container .buttons>div>a:hover {
	background: #16345110;
}

.header_container .buttons>div>a i {
	font-size: 16px;
	color: #163451;
}

.header_container .buttons>div>a.negative {
	background: #163451;
	color: #fff;
	width: auto;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.25s, color 0.25s;
	border: 0;
	padding: 10px 20px 10px 20px;
}

.header_container .buttons>div>a.negative:hover {
	background: #1b466e;
}

.header_container .buttons>div>a.negative i {
	font-size: 16px;
	color: #fff;
}

@media screen and (max-width:992px) {
	.header_container .buttons.suffix {
		position: absolute;
		right: 50px;
	}
	.header_container:lang(ar) .buttons.suffix {
		right: initial;
		left: 50px;
	}
	.header_container .buttons.prefix {
		display: none;
	}
}


/* ========== Main Menu (Large Screens) ========== */

@media screen and (min-width:992px) {
	.nav-menu-sm {
		display: none;
	}
	.nav-menu-container {
		background: transparent;
	}
	.nav-menu {
		margin: 0 auto 0 auto;
		padding: 0;
		list-style-position: none;
	}
	.nav-menu>li.nav-item {
		display: inline-block;
		margin: 0 2px 0 0;
	}
	.nav-menu>li.nav-item:lang(ar) {
		margin: 0 0 0 2px;
	}
	/* Main menu button */
	.nav-menu>li.nav-item>a {
		display: block;
		padding: 8px 10px 8px 10px;
		font-size: 14px;
		color: #163451;
		transition: color 0.15s, background 0.15s;
		border-radius: 100px;
		font-weight: bold;
	}
	/* Main menu button icon */
	.nav-menu>li.nav-item>a i {
		font-size: 16px;
		color: #ccc;
		transition: color 0.15s;
	}
	/* Main menu button hover */
	.nav-menu>li.nav-item:hover>a {
		background: #163451;
		color: #fff;
	}
	/* Main menu button icon hover */
	.nav-menu>li.nav-item:hover>a i {
		color: #fff;
	}
	/* Main menu button arrow */
	.nav-menu>li.nav-item .fa-angle-down {
		color: #163451;
		margin: 0 0 0 5px;
		position: relative;
		transition: transform 0.3s, color 0.15s;
	}
	.nav-menu:lang(ar)>li.nav-item .fa-angle-down {
		margin: 0 5px 0 0;
	}
	/* Main menu button arrow hover */
	.nav-menu>li.nav-item:hover .fa-angle-down {
		color: #fff;
		transform: rotate(-180deg);
	}
	.nav-menu>li.nav-dropdown-item.hover>.nav-dropdown {
		visibility: visible;
		opacity: 1;
		margin-top: 0;
	}
	/* Submenu container */
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown {
		position: absolute;
		z-index: 1000;
		overflow: hidden;
		margin: -20px 0 0 0;
		padding: 0 10px 0 10px;
		list-style-position: none;
		box-shadow: 4px 4px 12px rgba(0, 0, 0, .05);
		background: #fff;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.3s ease, margin 0.3s ease;
		border-radius: 3px;
	}
	/* Submenu container (has multiple children) */
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown.multiple-children {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
		padding-bottom: 10px;
	}
	/* Submenu menu block */
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block {
		padding: 10px 10px 0 10px;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid-column;
	}
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown:not(.multiple-children) .menu-block:last-child {
		padding-bottom: 10px;
	}
	/* Submenu menu link */
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block a {
		display: block;
		width: 100%;
		padding: 0 5px 0 0;
		transition: margin 0.25s, padding 0.25s;
		color: #202020;
		font-size: 13px;
		line-height: 1.8;
	}
	.nav-menu:lang(ar)>li.nav-dropdown-item>ul.nav-dropdown .menu-block a {
		padding: 0 0 0 5px;
	}
	/* Submenu menu link title */
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block b,
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block b a {
		font-size: 14px;
		display: block;
		width: 100%;
		color: #173b5d;
	}
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block a:hover,
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block b a:hover {
		margin: 0 0 0 5px;
		padding: 0;
		color: #1b466e;
	}
	.nav-menu:lang(ar)>li.nav-dropdown-item>ul.nav-dropdown .menu-block a:hover,
	.nav-menu:lang(ar)>li.nav-dropdown-item>ul.nav-dropdown .menu-block b a:hover {
		margin: 0 5px 0 0;
	}
	/* Submenu menu link title (has children) */
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block.multiple b,
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block.multiple b a {
		font-weight: bold;
		margin-bottom: 3px;
	}
	/* Submenu menu link (single level menu) */
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block.single b,
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block.single b a {
		font-weight: bold;
	}
	/* Submenu menu link (multi-level menu) */
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown.multiple-children .menu-block b,
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown.multiple-children .menu-block b a {
		font-weight: bold;
	}
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-links:not(.single) {
		columns: 2;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		list-style-type: none;
		padding-bottom: 10px;
	}
	.nav-menu>li.nav-dropdown-item:last-of-type>ul.nav-dropdown .menu-links:not(.single) {
		columns: 1;
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		list-style-type: none;
		padding-bottom: 10px;
	}
}


/* ========== Main Menu (Small Screens) ========== */

@media screen and (max-width:992px) {
	.nav-cover {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, .5);
		z-index: 1000;
		visibility: hidden;
		opacity: 0;
		transition: visibility 2s, opacity .2s;
	}
	.nav-menu-container {
		background: transparent;
	}
	.nav-menu-sm {
		padding: 10px;
	}
	.nav-menu-sm>div {
		margin-bottom: 15px;
	}
	.nav-menu-sm>div:last-child {
		margin-bottom: 0;
	}
	.nav-menu-sm .links {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.nav-menu-sm .copyrights {
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		line-height: 1.5;
	}
	.nav-menu-sm .copyrights small {
		font-weight: normal;
		display: block;
		color: #aaa;
		font-size: 10px;
	}
	.nav-menu-sm .container {
		padding: 0px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	/* Menu and close buttons */
	.nav-menu-sm .nav-button {
		float: right;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		background: transparent;
		color: #163451;
		cursor: pointer;
		font-size: 30px;
	}
	.nav-menu-sm .nav-button:active {
		color: #163451;
	}
	.nav-menu-sm .close-nav {
		position: fixed;
		top: 7px;
		left: 265px;
		right: auto;
		font-size: 30px;
		color: #f8f8f8;
		z-index: 1000;
		cursor: pointer;
	}
	.nav-menu-sm:lang(ar) .close-nav {
		left: auto;
		right: 265px;
	}
	.nav-dropdown {
		margin: 0;
		padding: 0;
		list-style-position: none;
	}
	.nav-menu {
		margin: 0;
		padding: 0;
		list-style-position: none;
	}
	.nav-menu>li.nav-item {
		display: block;
		position: relative;
	}
	.nav-menu {
		position: fixed;
		top: 0;
		right: auto;
		left: 0;
		transform: translateX(-270px);
		width: 250px;
		height: 100vh;
		z-index: 10000;
		background: #fefefe;
		overflow-y: auto;
		box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	}
	.nav-menu:lang(ar) {
		right: 0;
		left: auto;
		transform: translateX(270px);
	}
	.nav-menu-opened {
		transform: translateX(0);
	}
	.nav-menu-opened:lang(ar) {
		transform: translateX(0);
	}
	.nav-menu::-webkit-scrollbar {
		width: 0;
	}
	/* Main menu button */
	.nav-menu>li.nav-item>a {
		width: 100%;
		display: block;
		padding: 15px;
		color: #202020;
		font-weight: bold;
		font-size: 14px;
	}
	/* Main menu button icon */
	.nav-menu>li.nav-item>a i {
		font-size: 16px;
		color: #202020;
	}
	/* Main menu button arrow */
	.nav-menu>li.nav-item span.fa-angle-down {
		float: right;
		margin-top: 4px;
		transition: transform 0.25s;
		color: #202020;
	}
	.nav-menu:lang(ar)>li.nav-item span.fa-angle-down {
		float: left;
	}
	/* Main menu button active */
	.nav-menu>li.active span.fa-angle-down {
		color: #fff;
		transform: rotate(-180deg);
	}
	.nav-menu>li.nav-item:active>a,
	.nav-menu>li.nav-item.active>a {
		color: #fff;
		background: rgb(22, 52, 81);
		background: linear-gradient(-45deg, #163451 0%, #1b466e 100%);
	}
	.nav-menu>li.nav-item:active>a i,
	.nav-menu>li.nav-item.active>a i {
		color: #fff;
	}
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown {
		display: none;
		overflow: hidden;
	}
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-links {
		border-bottom: 1px solid #ddd;
		padding: 10px;
		background: #f8f8f8;
	}
	/* Submenu menu block */
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block.multiple {
		padding-bottom: 10px;
	}
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block.multiple:last-child {
		padding-bottom: 0;
	}
	/* Submenu menu link */
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block b,
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block a {
		display: block;
		width: 100%;
		font-size: 13px;
		line-height: 2;
		color: #202020;
	}
	/* Submenu menu link (single level menu) */
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block.single b,
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown .menu-block.single b a {
		font-size: 14px;
		font-weight: bold;
		color: #163451;
		line-height: 2.5;
	}
	/* Submenu menu link (multi-level menu) */
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown.multiple-children .menu-block b,
	.nav-menu>li.nav-dropdown-item>ul.nav-dropdown.multiple-children .menu-block b a {
		font-size: 14px;
		font-weight: bold;
		color: #173b5d;
	}
}