.side_content_1 {
	display: flex;
	width: 100%;
	margin-bottom: 10px;
}

.side_content_1:last-child {
	margin-bottom: 0;
}

.side_content_1 .block_image {
	width: 100px;
	height: 100px;
	min-width: 100px;
	overflow: hidden;
	position: relative;
	border-radius: 3px;
	overflow: hidden;
}


.side_content_1 .block_image .cover_image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
}

.side_content_1 .block_image .overlay {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(1, 73, 147, .8);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all 0.5s;
	font-size: 26px;
}

.side_content_1 .block_content {
	flex-grow: 1;
}

.side_content_1 .block_content b {
	display: block;
	width: 100%;
	color: #0059b3;
	margin-bottom: 5px;
}

.side_content_1 .block_content small {
	display: block;
	color: #909090;
}

.side_content_1:hover .block_image .overlay {
	opacity: 1;
}

.side_content_1:hover .block_content b {
	color: #0069d3;
}