.slider {
	display: block;
	width: 100%;
	overflow: hidden;
}

.slider .swiper-slide {
	position: relative;
}

.slider .swiper-slide .image {
	width: 100%;
}

.slider .swiper-slide .description {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	padding: 20px;
	text-align: center;
	background: transparent;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}

.slider .swiper-slide .description h2 {
	display: inline-block;
	font-size: 22px;
	margin: 0 auto 10px auto;
	font-weight: bold;
	color: #fff;
	line-height: 1.75;
	background: #014a94;
	padding: 15px;
	border-radius: 5px;
}

.slider .swiper-slide .description p {
	display: block;
	max-width: 800px;
	margin: 0 auto 10px auto;
	font-size: 14px;
	color: #eee;
	line-height: 1.75;
	background: #1d6ab8;
	padding: 15px;
	border-radius: 5px;	
}

.slider .swiper-slide .description .buttons {
	margin: 0 -5px 0 -5px;
}

.slider .swiper-slide .description .buttons .btn {
	margin: 10px 5px 0 5px;
}

.slider .swiper-container {
	margin: 0 !important;
	width: 100% !important;
}

.slider .swiper-button-prev, .slider .swiper-button-next {
	background-image: none !important;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	transform: translateY(-50%);
	margin-top: 0;
	color: #1d51c5;
}

.slider .swiper-button-next {
	right: 10px;
	left: auto;
}

.slider .swiper-button-prev {
	right: auto;
	left: 10px;
}

.slider .swiper-button-next:lang(ar) {
	right: auto;
	left: 10px;
}

.slider .swiper-button-prev:lang(ar) {
	right: 10px;
	left: auto;
}

.slider .swiper-button-next:after {
	font-family: "Font Awesome 5 Pro";
	content: "\f105";
	font-size: 30px;
	display: block;
}

.slider .swiper-button-prev:after {
	font-family: "Font Awesome 5 Pro";
	content: "\f104";
	font-size: 30px;
	display: block;
}

.slider .swiper-button-next:lang(ar):after {
	content: "\f104";
}

.slider .swiper-button-prev:lang(ar):after {
	content: "\f105";
}

.slider .swiper-pagination {
	display: block;
	width: auto;
	position: relative;
	margin: 5px auto 0 auto;
}

.slider .swiper-pagination-bullet {
	width: 30px;
	height: 5px;
	border-radius: 0;
	margin: 0 4px 0 4px;
	background: #1d51c5;
	opacity: 0.2;
}

.slider .swiper-pagination-bullet-active {
	opacity: 1;
}

@media screen and (max-width:768px) {
	.slider .swiper-slide {
		flex-wrap: wrap;
	}
	.slider .swiper-slide .image {
		flex-basis: 100%;
	}
	.slider .swiper-slide .description {
		display: block;
		position: relative;
		flex-basis: 100%;
		margin-top: 10px;
	}
	.slider .swiper-slide .description h2 {
		font-size: 18px;
		line-height: 1.65;
	}
	.slider .swiper-container {
		margin: 0 auto 0 auto;
	}
}