.tabs2 ul.nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0;
	margin: -5px;
	width: calc(100% + 10px);
}

.tabs2 ul.nav li {
	float: initial;
	margin: 5px;
}

.tabs2 ul.nav li a {
	display: flex;
	align-items: center;
	border: 1px solid #eee;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, .05);
	font-size: 16px;
}

.tabs2 ul.nav li:not(.active) a:hover {
	background: #fefefe;
}

.tabs2 ul.nav li a i {
	font-size: 20px;
	margin: 0 10px 0 0;
}

.tabs2:lang(ar) ul.nav li a i {
	margin: 0 0 0 10px;
}